body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.quote {
    font-style: italic;
    color: #555;
}